@model IEnumerable<MusicWeb.Models.Domain.Songs>

@{
    ViewData["Title"] = "Index";
}


<h4 style="color:#4268d6; padding-left:12.5%">Những bài hát hot nhất tháng</h4>


@await Component.InvokeAsync("CardPlay")
@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lyric)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lyric)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
