@model MusicWeb.Models.Domain.Songs
@{
    ViewData["Title"] = "Music Play";

    string name = User.Identity.Name;
    string role = User.IsInRole("admin") ? "admin" : "user";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/795e95ca15.js" crossorigin="anonymous"></script>
    <title>Music Player</title>
</head>
<body>
    <div class="head">
        <div class="divH1">
            <img src="@Model.LinkImg" class="img">
        </div>
        <div class="divH2">
            <h2 style="color: #fff; padding-top:5%; font-weight:bold">@Model.SongName</h2>
            <p>@Model.Title</p>
        </div>
    </div>
    <div class="lyric-container" style="background-color: rgb(222, 218, 218);">
        <h2>LỜI BÀI HÁT</h2>
        <p style="color: #181818;">
            @Model.Lyric
        </p>
    </div>
    <div class="container">
        <div class="music-player" style="width:85%; background:#4e73df;">
            <div class="div1" style="display: flex; align-items: center;">
                <img src="@Model.LinkImg" class="song-img">
                <div style="margin-left: 10px; flex-grow: 1;">
                    <h3 style="margin:0 0 5px 0; font-size: 20px; font-weight:bold">@Model.SongName</h3>
                    <p style="margin:0px; padding:0px; font-size: 16px;">@Model.Title</p>
                </div>
            </div>

            <div class="div2" style="width: 50%;display: flex; justify-content: center ;align-items: center;">
                <audio controls id="song" style="width: 100%;">
                    <source src="@Model.LinkLocal" type="audio/mpeg" id="ctrlHeart">
                </audio>
            </div>
            <div class="div3" style="display: flex; justify-content: start ;align-items: center;">
                <div onclick="changeHeart()" class="circle">
                    <a asp-controller="FavouritesSongs" asp-action="CreateNew" asp-route-id="@Model.SongId" asp-route-username="@name">
                        <i class="fa-regular fa-heart fa-2xl" id="controlIcon" style="color: #ffffff;"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <script>
        let controlIcon = document.getElementById("controlIcon");
        let song = document.getElementById("song");
        var image = document.querySelector(".song-img");
        song.addEventListener("play", function () {
            image.classList.add("rotate-image");
        });

        song.addEventListener("pause", function () {
            image.classList.remove("rotate-image");
        });
        function changeHeart() {
            if (controlIcon.classList.contains("fa-regular")) {

                controlIcon.classList.remove("fa-regular");
                controlIcon.classList.add("fa-solid")
            } else {
                controlIcon.classList.remove("fa-solid");
                controlIcon.classList.add("fa-regular")
            }
        }
    </script>
</body>
</html>